.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #4267b2;
  border-bottom: 1px solid #29487d;
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0px;
}
