.postCard {
  margin-top: 20px;
  background: #fff;
  width: 700px;
  height: 250px;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 5px 5px 10px #888888;
  align-self: center;
}

.post {
  // background: red;
}

hr {
  background-color: #eee;
  height: 1px;
  border-color: #eee;
}
